$color-dark: #000;
$color-light: #fff;
$color-main: #bea67c;
$light-links: #838383;

$font-header: 'Source Sans 3', sans-serif;
$font-text: 'Source Sans 3', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;

$base-size: 16px;
$smaller-medium-size: 20px;
$small-medium-size: 25px;
$medium2-size: 48px;
$medium-size: 40px;
$bigger-size: 70px;

$base-line-height: 1.7;
$medium-line-height: 1.2;
$bigger-line-height: 2;